
// Custom.scss
//This is the file you will update to customize your page.



// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+3:wght@400&display=swap');



// Include any default variable overrides here (colors, font sizes, font family, etc..)

$primary: #A04ADD;
$secondary: #3B53C7;
$success: #A4D882;
$info: #59C1EF;
$warning:  #FFF689;
$danger: #E5446D;
$light:  #f2f2f2;
$dark: #181853;

// Adjust nav link hover color here

$navbar-dark-hover-color: $primary;


// Typography

$font-family-base: 'Source Sans 3',sans-serif;

// Change font family for base text

$font-family-base: 'Source Sans 3', sans-serif;

// Change font family for headings

$headings-font-family: 'Libre Baskerville',serif;

// Change font sizes for h1-h6 using values in assignment

$h1-font-size:3.052rem;
$h2-font-size:2.441rem;
$h3-font-size:1.953rem;
$h4-font-size:1.563rem;
$h5-font-size:1.25rem;
$h6-font-size:1rem;


// Import Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";


// body and nav

body {
  background-color: $light;
}


.navbar-brand {
  font-family: 'Libre Baskerville', serif;
}


